@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #f0f6ff;
}

.colors {
    /* Marine blue */
    background-color: #02295a;
    /* Purplish blue */
    background-color: #473dff;
    /* Pastel blue */
    background-color: #adbeff;
    /* Light blue */
    background-color: #bfe2fd;
    /* Strawberry red */
    background-color: #ed3548;

    /* Cool gray */
    background-color: #9699ab;
    /* Light gray */
    background-color: #d6d9e6;
    /* Magnolia */
    background-color: #f0f6ff;
    /* Alabaster */
    background-color: #fafbff;
    /* White */
    background-color: #ffffff;
}